.courses-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./assets/cse.jpg');
  min-height: 97.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.courses-us-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 100%;
  margin-top: 5rem;
  margin-left: 10rem;
  max-width: 1200px;
}

.panels {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  max-width: 22rem;
  min-height: 12rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  transition: all .5s ease; /* Text color changed to white for better contrast */
}

.panels:hover{
  transition: all .5s ease;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 40px 1px #7ed6f9;
}

.panels h2 {
  padding: 5px;
  color: white;
  max-width: fit-content;
  align-self: center;
  background-color:  lightcoral;
  border-radius: 14px;  
  margin-bottom: 10px;
}

.panels p {
  color: white;
  max-width: fit-content;
  align-self: center;
  padding: 7px;
  background-color: lightcoral;
  border-radius: 14px;
  margin-bottom: 0;
}

/* Specific background images for each panel */
.panel-10th {
  border: 10px solid white;
  border-radius: 35px;
  background-image: url('./assets/10thimg.jpg');
}

.panel-intermediate {
  border: 10px solid white;
  border-radius: 35px;
  background-image: url('./assets/interme.jpg');
}

.panel-professional {
  border: 10px solid white;
  border-radius: 35px;
  background-image: url('./assets/profcoc.jpg');
}

.panel-languages {
  border: 10px solid white;
  border-radius: 35px;
  background-image: url('./assets/lang12.webp');
}
